{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="d-flex flex-column" id="content-wrapper">
        <div id="content">
            <nav class="navbar navbar-light navbar-expand bg-white shadow mb-4 topbar static-top">
                <div class="container-fluid"></div>
            </nav>
            <div class="container-fluid">
                <h3 class="text-dark mb-4">Profile Info</h3>
                <div class="row mb-3">
                    <div class="col-lg-4">
                        <div class="card mb-3">
                            <div class="card-body text-center shadow"><img class="rounded-circle mb-3 mt-4" src={% static '/img/user.png' %} width="160" height="160">
                                <div class="mb-3"><button class="btn btn-primary btn-sm" type="button" style="background: #ff5700;">Change Photo</button></div>
                            </div>
                        </div>
                        <div class="card shadow mb-4"></div>
                    </div>
                    <div class="col-lg-8">
                        <div class="row">
                            <div class="col">
                                <div class="card shadow mb-3">
                                    <div class="card-header py-3">
                                        <p class="text-primary m-0 fw-bold" style="color: #ff5700;">User Settings</p>
                                    </div>
                                    <div class="card-body">
                                        <form method="POST" enctype="multipart/form-data">
                                            {% csrf_token %}
                                            {{ u_form|crispy }}
                                            {{ p_form|crispy }}
                                            
                                            <div class="mb-3">
                                                <button class="btn btn-primary btn-sm" type="submit" style="background: #ff5700;">Save Settings</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                                <div class="card shadow"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card shadow mb-5"></div>
            </div>
        </div>
    </div><a class="border rounded d-inline scroll-to-top" href="#page-top"><i class="fas fa-angle-up"></i></a>
{% endblock content %}