{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div>
        <form method="POST">
            {% csrf_token %}
            <fieldset>
                <legend> Create an account </legend>
                {{ form | crispy }}
            </fieldset>
            <div>
                <button type="submit"> Sign up </button>
            </div>
        </form>
        <div>
            <small>
                Already have an account? <a href="login.html"> Log in </a>
            </small>
        </div>
    </div>

{% endblock %}