{% extends "forum/base.html" %}
{% block content %}
    <article class="media content-section">
        <div class="media-body">
        <div class="article-metadata">
            <a class="mr-2" href="#">{{ object.author }}</a>
            <small class="text-muted">{{ object.date_posted | date:"F d Y" }}</small>
            <h2 class="article-title" >{{ object.title }}</h2>
            <p class="article-content">{{ object.content }}</p>
            {% if object.author == user %}
            <div>
              <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'topic-update' object.id %}">Update</a>
              <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'topic-delete' object.id %}">Delete</a>
            </div>
          {% endif %}
          <hr class="my-4">
          <a class="btn btn-success btn-sm mt-1 mb-1" href="{% url 'post-create' object.id %}">Add Post</a> 
          
          <div class="posts mt-5">
                <h1>Posts of {{ object.title }}</h1>
                <hr class="my-4">

            {% for post in posts %}
                <div class="row post mb-4">
                    <div class="col-4 offset-4 text-center">
                        <a href="{% url 'post-detail' post.id %}">
                            <h3 class="post_title">{{ post.title }}</h3>
                        </a> 
                        
                        <p> by {{ post.author }} </p>
                            <a href="{% url 'profile'  %}"></a>
                        </a>
                        <hr>
                    </div>
                </div>
            {% endfor %}
        </div>

        </div>
        </div>
    </article> 
{% endblock content %}